
/******* Header section ********/

#header {
  background-color: #282B2A;
  color: #fff;
}

h1 {
  color: #fff;
  letter-spacing: 0.05em;
  font-family: 'Raleway Dots', Helvetica;
  margin-bottom: 0;
}

#role {
  font-family: 'Raleway Dots', Helvetica;
}

#header span {
  margin-bottom: 1em;
} 

.biopic {
  padding: 0;
  width: 200px;
}

#topContacts {
  margin-bottom: 0;
  margin-left: 0;
}

#topContacts li {
  display: inline;
  font-size: 14px;
  padding-left: 0;
  font-family: Lucida, sans-serif;
}

.orange-text {
  margin-right: 1%;
  color: #DC143C;
}

ul {
  list-style-type: none;
}
.welcome-message {
  font-family: Lucida, sans-serif;
}

#header ul {
  padding-top: 0;
}
#skills {
  padding-top: 1em;
  margin: 0;
  font-family: Lucida, sans-serif;
 }

#skills li {
  display: inline;
  margin-right: 1em;
}

.skillsH3 {
  font-size: 20px;
  margin: 0;
  color: #fff;
  font-family: Lucida, sans-serif;
}

.button.tiny {

  margin-bottom: 0;
  margin-top: -0.2em;
}

#workExperience, #education, #projects {
  padding-left: 1em;
  padding-right: 1em;
}

/******** Work section ********/
h2 {
  font-family: Lucida, sans-serif;
  font-size: 28px;
}
#workExperience {
  background-color: #E8E8E8;
}
.small-block-grid-3 {
  margin: 0;
}
/******* Education section *********/
#education {
  background-color: #E8E8E8;
}
.location-text {
  font-style: italic;
  font-size: 14px;
}
.education-entry {
  margin-top: 0.5em;
}
h3, .online-entry {
  margin-top: 1em;
}

/******* Map *******/

#map {
  display: block;
  height: 100%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/******* Footer *******/

.center-text {
  text-align: center;
  background-color: #282B2A;
  color: #fff; 
}





































